body {
    width: 100%;
    background: rgb(0, 0, 0)
}

.page {
    width: 100%;
    color: rgba(48, 48, 48, 0.253);
    font-size: 200px;
    text-transform: uppercase;
    position: absolute;
}

.icons {
    margin-left: 10%;
}

.icons:hover {
    font-weight: bold;
    color: rgb(208, 255, 0)
}

.icons1 {
    margin-left: 10%;
}

.icons1:hover {
    font-weight: bold;
    color: rgb(0, 217, 255)
}

.icons2 {
    margin-left: 10%;
}

.icons2:hover {
    font-weight: bold;
    color: rgb(247, 0, 255)
}

.icons3 {
    margin-left: 10%;
}

.icons3:hover {
    font-weight: bold;
    color: rgb(255, 0, 0)
}

.iconsf {
    margin-left: 11%;
}

.iconsf:hover {
    font-weight: bold;
    color: rgb(0, 217, 255)
}

.iconsg {
    margin-left: 10.5%;
}

.iconsg:hover {
    font-weight: bold;
    color: rgb(247, 0, 255)
}

.iconsi {
    margin-left: 12%;
}

.iconsi:hover {
    font-weight: bold;
    color: rgb(208, 255, 0)
}

.iconsj {
    margin-left: 13%;
    margin-right: 3%
}

.iconsj:hover {
    font-weight: bold;
    color: rgb(0, 217, 255)
}

.iconsm {
    margin-left: 8%;
    margin-right: -1%;
}

.iconsm:hover {
    font-weight: bold;
    color: rgb(208, 255, 0)
}

.iconsv {
    margin-left: 9.5%;
}

.iconsv:hover {
    font-weight: bold;
    color: rgb(0, 217, 255)
}

.iconsw {
    margin-left: 8%;
    margin-right: -3%;
}

.iconsw:hover {
    font-weight: bold;
    color: rgb(247, 0, 255)
}